*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #131933;
   
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* LOADING */

.loading-box{
    width: calc(100% / 3);
}

.loading{
    width: 100px;
    height: 100px;
    position: relative;
    margin:  100px auto; 
}

.loading div{
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   transform: rotate(calc(var(--value) * 45deg));
}

.loading div::before{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border: 5px solid #ff727d;
    border-radius: 50%;
    top: 0;
    left: 0;
    filter: hue-rotate(calc(var(--value) * 45deg));
    animation: loading 1s infinite;
    animation-delay: calc(var(--value) * (1s / 8));
}


@keyframes loading {
    to{
        transform: scale(0);
    }
}
/* SPIN */

.spin{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% / 3);
    
}

.spin div:nth-child(1){
    position: absolute;
    left: 25%;
    width: 100px;
    height: 100px;
    background-color: #ff727d;
    border-radius: 5rem;
    animation: spin1 1s infinite linear;
    animation-delay: 0.5s;
}
.spin div:nth-child(2){
    position: absolute;
    left: 25%;
    width: 100px;
    height: 100px;
    background-color: #3affff;
    border-radius: 5rem;
    animation: spin2 1s infinite linear;
}

@keyframes spin1 {
    0%{
        transform: translateX(0);
        z-index: -1;
        transform: scale(0.8);
    }

    50%{
        transform: translateX(200px);
        
    }

    100%{
        transform: translateX(0);
        z-index: 1;
        transform: scale(1.2);
    }
    
}

@keyframes spin2 {
    0%{
        transform: translateX(0);
        z-index: 1;
        transform: scale(0.8);
    }

    50%{
        transform: translateX(200px);
    }

    100%{
        transform: translateX(0);
        z-index: -1;
        transform: scale(1.2);
    }
    
}

/* STAGGER */

.stagger{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: calc(100% / 3);
}    

.stagger div{
   width: 20px; 
   height: 20px;
   border-radius: 50%;
   margin: 0 8px;
   background-color: #FFD36E;
   animation: stagger 0.5s infinite linear alternate;
   animation-delay: calc(var(--delay) * (0.5 / 4));
}


@keyframes stagger {
    0%{
        transform: translateY(0);
    }

    50%, 100%{
        transform: translateY(50px);
    }
}

/* BUTTON  */

.button{
    position: relative;
    display: inline-block;
    padding: 30px 30px;
    display: flex;
    margin: auto;
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    margin-top: 100px;
}

.ti-heart{
    margin-left: 6px;
}

.button span{
    background-color: #F68989;
    display: block;
    position: absolute;
    transition: all 0.2s linear;
}

.button span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition-delay: 0.25s;
}
.button span:nth-child(2){
    top: 0;
    right: 0;
    width:2px;
    height: 0;
    transition-delay: 0.5s;
}
.button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition-delay: 0.75s;
}
.button span:nth-child(4){
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition-delay: 1s;
}

.button::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F68989;
    transition: width 0.25s linear;
    transition-delay: 1s;
    z-index: -1;
}

.button:hover:before{
    width: 100%;
}

.button:hover span:nth-child(odd){
    width: 100%;
}

.button:hover span:nth-child(even){
    height: 100%;
}


