*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    /* background-color: #FFEEEE; */
   background-color: #232A38;
   padding: 0 12px;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* LOADING */

.loading-box{
    width: calc(100% / 3);
}

.loading{
    width: 100px;
    height: 100px;
    position: relative;
    margin:  100px auto; 
}

.loading div{
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   transform: rotate(calc(var(--value) * 45deg));
}

.loading div::before{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border: 5px solid #ff727d;
    border-radius: 50%;
    top: 0;
    left: 0;
    filter: hue-rotate(calc(var(--value) * 45deg));
    animation: loading 1s infinite;
    animation-delay: calc(var(--value) * (1s / 8));
}


@keyframes loading {
    to{
        transform: scale(0);
    }
}
/* SPIN */

.spin{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% / 3);
    
}

.spin div:nth-child(1){
    position: absolute;
    left: 25%;
    width: 100px;
    height: 100px;
    background-color: #ff727d;
    border-radius: 5rem;
    animation: spin1 1s infinite linear;
    animation-delay: 0.5s;
}
.spin div:nth-child(2){
    position: absolute;
    left: 25%;
    width: 100px;
    height: 100px;
    background-color: #3affff;
    border-radius: 5rem;
    animation: spin2 1s infinite linear;
}

@keyframes spin1 {
    0%{
        transform: translateX(0);
        z-index: -1;
        transform: scale(0.8);
    }

    50%{
        transform: translateX(200px);
        
    }

    100%{
        transform: translateX(0);
        z-index: 1;
        transform: scale(1.2);
    }
    
}

@keyframes spin2 {
    0%{
        transform: translateX(0);
        z-index: 1;
        transform: scale(0.8);
    }

    50%{
        transform: translateX(200px);
    }

    100%{
        transform: translateX(0);
        z-index: -1;
        transform: scale(1.2);
    }
    
}

/* STAGGER */

.stagger{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   /* width: calc(100% / 3); */
}    

.stagger div{
   width: 20px; 
   height: 20px;
   border-radius: 50%;
   margin: 0 8px;
   background-color: #FFD36E;
   animation: stagger 0.5s infinite linear alternate;
   animation-delay: calc(var(--delay) * (0.5 / 4));
}


@keyframes stagger {
    0%{
        transform: translateY(0);
    }

    50%, 100%{
        transform: translateY(50px);
    }
}


.box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* BUTTON  */

.button{
    position: relative;
    padding: 30px 30px;
    color: #F68989;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    display: block;
    margin-left: 100px;
}

.ti-heart{
    margin-left: 6px;
}

.button span{
    background-color: #F68989;
    display: block;
    position: absolute;
    transition: all 0.2s linear;
}

.button span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition-delay: 0.25s;
}
.button span:nth-child(2){
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    transition-delay: 0.5s;
}
.button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition-delay: 0.75s;
}
.button span:nth-child(4){
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition-delay: 1s;
}

.button::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFDDEE;
    transition: width 0.25s linear;
    transition-delay: 1s;
    z-index: -1;
}

.button:hover:before{
    width: 100%;
}

.button:hover span:nth-child(odd){
    width: 100%;
}

.button:hover span:nth-child(even){
    height: 100%;
}

/* FORM */

.form{
    position: relative;
}

.form-input{
    width: 500px;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
    border: 4px solid #99FFCD;
    border-radius: 5px;
    background-color: #FFEEEE;
    color: #99FFCD;
}

.form-label{
    position: absolute;
    color: #99FFCD;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    font-size: 20px;
    transition: 0.5s ease;
    font-weight: bold;
}

.form-input:focus{
    border-color: #ff727d;
    outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    top: 0;
    background-color: #FFEEEE;
    padding: 0 12px;
    left: 40px;
    color: #ff727d;
}

/* MENU */

.menu{
    background-color: #232A38;
    display: block;
    width: 200px;
    border-radius: 12px;
    color: white;
    padding: 50px 0 50px 15px;
    list-style-type: none;
    margin: 50px 0 50px 100px;
}

.menu-item.active{
    background-color: #FFEEEE;
    color: #624FFD;
}

.menu-item{
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    position: relative;
}

.menu-item.active::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    transform: translateY(-100%);
    right: 0;
    box-shadow: 10px 10px 0 0 #FFEEEE;
}

.menu-item.active::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #232A38;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    box-shadow: 10px -10px 0 0 #FFEEEE;
    z-index: 1;
}

.menu-item span{
    margin-left: 12px;
    display: inline-block;
    font-size: 16px;
    user-select: none;
}

.text{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 100px;
}

.text div{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(calc(var(--text) * 45deg));
}

.text div::before{
    content: "";
    position: absolute;
    width: 20px;
    border-radius: 50%;
    border: 4px solid #624FFD;
    filter: hue-rotate(calc(var(--text)* 45deg));
    animation: text 1s infinite linear alternate;   
}

/* LINEAR-GRADIENT */
.image{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 100px auto;
    border: 1px solid #eee;
    position: relative;
}

.image-item{
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   background-color: #eee;
}

.image::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    --dir-linear: to right;
    background-image: linear-gradient(
        var(--dir-linear),
        transparent 25%,
        #eee calc(25% + 1px),
        transparent calc(25% + 1px),
        transparent 50%,
        #eee calc(50% + 1px),
        transparent calc(50% + 1px),
        transparent 75%,
        #eee calc(75% + 1px),
        transparent calc(75% + 1px)
    );
}

@media screen and (max-width: 767px) {
    .image{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .image::before{
        width: 1px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .image::after{
        --dir-linear: to bottom;
    }
}

/* TABLE STICKY */

table{ 
    color: #fff;
    width: 100%;
    border: 1px solid #eee;
    border-collapse: collapse;
    margin-bottom: 100px;
}

table td, table th{
    text-align: left;
    padding: 16px;
    white-space: nowrap;
}

table th{
    background-color: #b2cdec;
}

table tbody tr{
    border-top: 1px solid #eee;
}

table td{
    background-color: #333;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    object-fit: cover;
}

.sticky-table{
    overflow: auto;
}

.sticky-table thead th:first-child,
.sticky-table tbody td:first-child{
    position: sticky;
    left: 0;
    z-index: 1;
}

/* HEART */
.heart{
    position: relative;
    margin-left: 100px;
}

/* HEART */
.heart{
    position: relative;
}

.heart::before,
.heart::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 100px;
    left: 50px;
    background-color: #FF6651;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::before{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

    /* GHOST */
.ghost{
    width: 100px;
    height: 110px;
    background-color: #fff;
    margin: 25px;
    border-radius: 100rem 100rem 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ghost 0.5s linear infinite alternate;
}

.ghost::before{
    content: "";
    position: absolute;
    width: calc(100% / 5);
    height: 15px;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    background-color: #fff;
    border-radius: 0 0 100rem 100rem;
    box-shadow: 20px 0 #fff, 40px 0 #fff, 60px 0 #fff, 80px 0 #fff;
}

.ghost::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    background-color: #fff;
    top: 45%;
    left: -10px;
    box-shadow: 100px 0 #fff;
}

.ghost-body {
    width: 60px;
    height: 70px;
    /* background-color: red; */
}

.ghost-eye{
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    background-color: #232b38;
    box-shadow: 40px 0 #232b38;
    margin-top: 10px;
}

.ghost-mouth{
    margin: 15px auto;
    width: 40px;
    height: 20px;
    border-radius: 0 0 100rem 100rem;
    background-color: #232b38;
    position: relative;
}

.ghost-mouth::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #fff;
    top: 0;
    left: 10px;
}

@keyframes ghost {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(20px);
    }
}

    /* TOOOGLE */

.toggle{
    cursor: pointer;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.toggle__input{
    display: none;
}

.toggle__bar{
    width: 80px;
    height: 30px;
    background-color: #eeeeee92;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 1px 1px 1px 4px;
    transition: background-color 0.2s linear
}

.toggle__spin{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.2s linear;
}

.toggle__input:checked + .toggle__bar{
    background-color: #F68989;
}

.toggle__input:checked + .toggle__bar .toggle__spin{
    transform: translateX(50px);
}


.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    width: 100%;
    background-color: #eee;
    padding: 16px; 
    border-radius: 6px; 
    display: flex;
    align-items: center;
}
.search-input{
    border: none;
    background-color: #eee;
    font-size: 20px;
    outline: none;
    flex-grow: 1;
}
.search-btn{
    background-color: #2979ff;
    border-radius: inherit;
    border: none;
    padding: 12px 24px;
    color: #fff;
}

/* DROPDOWN */
body{
    /* width: 100%; */
    /* height: 100vh; */
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown-select{
    background-color: #fff;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dropdown-list{
    width: 200px;
    background-color: #fff;
    margin-top: 8px;
    list-style-type: none;
    display: none;
}

.dropdown:hover .dropdown-list{
    display: block;
}

.dropdown-list li{
    padding: 12px;
}

/* FORM */
.form{
    background-color: #fff;
    padding: 24px 50px;
    border-radius: 12px;
}

.form__title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form__subtitle{
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
} 

.form__subtilte-link{
    color: #87a7ce;
    font-weight: 500;
    text-decoration: underline;
}

.form-midname{
    width: calc(100% - 12px);
    height: 40px;
    border-radius: 8px;
    border: 1px solid #eee;
    background-color: #eee;
    margin-top: 16px;
    padding-left: 12px;
    outline: none;
}

.form-midname::placeholder,
.form__last-name::placeholder,
.form__first-name::placeholder,
.form-email::placeholder{
    color: #33333339;
    font-style: italic;
}

.form-name{
    display: flex;
    width: 100%;
    margin-top: 12px;
}

.form__first-name{
    width: 50%;
    height: 40px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #eee;
    background-color: #eee;
    margin-right: 10px;
    padding-left: 12px;
    outline: none;
}

.form__last-name{
    width: 50%;
    height: 40px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #eee;
    background-color: #eee;
    padding-left: 12px;
    outline: none;
}

.form-email{
    width: calc(100% - 12px);
    height: 40px;
    border-radius: 8px;
    border: 1px solid #eee;
    outline: none;
    margin-top: 12px;
    padding-left: 12px;
}

.form-btn{
    width: 100%;
    background-color: #479cdf;
    border: none;
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
}

.form-btn ion-icon{
    float: right;
    font-size: 16px;
}

.form-btn:hover{
    opacity: 0.6;
    cursor: pointer;
}

.form-policy{
    display: flex;
    margin-top: 12px;
}

.form-policy-text{
    font-size: 10px;
    margin-left: 4px;
}












